{# Main field macro, this is used to wrap inputs with the container markup #}
{% macro field(config, input) %}
  {% include "templates/vendor/ecce-media/ecce-lima-twig/_base/form/field" with config|merge({ input: input }) only %}
{% endmacro %}

{# ---------------------------- #}
{# ------- Input - solo ------- #}
{# ---------------------------- #}
{# plain text #}
{% macro text(config) %}
  {% include "templates/vendor/ecce-media/ecce-lima-twig/_base/form/text" with config only %}
{% endmacro %}

{# textarea #}
{% macro textarea(config) %}
  {% include "templates/vendor/ecce-media/ecce-lima-twig/_base/form/textarea" with config only %}
{% endmacro %}

{# select - dropdown #}
{% macro select(config) %}
    {% include "templates/vendor/ecce-media/ecce-lima-twig/_base/form/select" with config only %}
{% endmacro %}

{# radio or checkbox #}
{% macro radioCheckbox(config) %}
  {% include "templates/vendor/ecce-media/ecce-lima-twig/_base/form/radioCheckbox" with config only %}
{% endmacro %}

{# range #}
{% macro rangeInput(config) %}
  {% include "templates/vendor/ecce-media/ecce-lima-twig/_base/form/range" with config only %}
{% endmacro %}

{# button #}
{% macro button(config) %}
  {% include "templates/vendor/ecce-media/ecce-lima-twig/_base/form/button" with config only %}
{% endmacro %}

{# ---------------------------- #}
{# ------ Input - field ------- #}
{# ---------------------------- #}
{# plain text #}
{% macro textField(config) %}
  {% set input = _self.text(config) %}
  {{ _self.field(config, input) }}
{% endmacro %}

{# textarea #}
{% macro textareaField(config) %}
  {{ _self.field(config, _self.textarea(config)) }}
{% endmacro %}

{# select - dropdown #}
{% macro selectField(config) %}
  {{ _self.field(config, _self.select(config)) }}
{% endmacro %}

{# radio or checkbox group #}
{% macro radioCheckboxGroup(config) %}
  {% include "templates/vendor/ecce-media/ecce-lima-twig/_base/form/radioCheckboxGroup" with config only %}
{% endmacro %}

{# range #}
{% macro rangeField(config) %}
  {{ _self.field(config, _self.rangeInput(config)) }}
{% endmacro %}

{# button #}
{% macro buttonField(config) %}
  {{ _self.field(config, _self.button(config)) }}
{% endmacro %}