<textarea
	class="b-form__textarea{%- if class is defined %}{{ ' ' ~ class }}{% endif %}"
	{%- if rows is defined %} rows="{{ rows }}"{% endif %}
	{%- if cols is defined %} cols="{{ cols }}"{% endif %}
	{%- if style is defined %} style="{{ style }}"{% endif %}
	{%- if id is defined %} id="{{ id }}"{% endif %}
	{%- if size is defined %} size="{{ size }}"{% endif %}
	{%- if name is defined %} name="{{ name }}"{% endif %}
	{%- if maxlength is defined and maxlength %} maxlength="{{ maxlength }}"{% endif %}
	{%- if autofocus is defined and autofocus %} autofocus{% endif %}
	{%- if autocomplete is not defined or not autocomplete %} autocomplete="off"{% endif %}
	{%- if disabled is defined and disabled %} disabled {% endif %}
	{%- if readonly is defined and readonly %} readonly {% endif %}
	{%- if required is defined and required %} required {% endif %}
	{%- if title is defined %} title="{{ title }}"{% endif %}
	{%- if placeholder is defined %} placeholder="{{ placeholder }}"{% endif %}>
	{%- if value is defined %}{{ value }}{% endif %}
</textarea>
